nextflow.enable.dsl = 2

params {
    input   = null
    outdir  = 'results'
    qc_sif  = '/data/software/singularity/qc_fastqc_multiqc.sif'
    
    cutadapt_sif = '/data/software/singularity/read_cleanup_cutadapt-5.2.sif'

    adapter_trim = true
    adapter_f = 'CTGTCTCTTATACACATCTCCGAGCCCACGAGAC'
    adapter_r = 'CTGTCTCTTATACACATCTGACGCTGCCGACGA'
    
    poly_g_trim = true
    poly_g_min_run = 10
    
    quality_trim = false
    quality_cutoff = 30
    
    apply_min_length = false
    min_length = 50
}

process {
    executor = 'local'
    shell = ['/bin/bash', '-euo', 'pipefail']

    withLabel: qc {
        cpus = 4
        memory = '8 GB'
    }
    withLabel: read_cleanup {
    cpus = 4
    memory = '8 GB'
    }
}

singularity {
    enabled = true
    autoMounts = true
}
