nextflow.enable.dsl = 2

params {
    input   = null
    outdir  = 'results'
    qc_sif  = '/data/software/singularity/qc_fastqc_multiqc.sif'
}

process {
    executor = 'local'
    shell = ['/bin/bash', '-euo', 'pipefail']

    withLabel: qc {
        cpus = 4
        memory = '8 GB'
    }
}

singularity {
    enabled = true
    autoMounts = true
}
