singularity {
    enabled = true
    autoMounts = true
}

params {
    blast_taxonomy_sif = '/data/software/singularity/itsdetector/blast_taxonomy_2026-06.sif'
    qiime_sif = '/data/software/singularity/qiime2_amplicon_2025.7.sif'

    blast_db = '/data/Reference/BLAST/ITS/20250604/ITS_RefSeq_Fungi'
    taxdump_dir = '/data/Reference/BLAST/taxdump'

    taxonomy_profile = 'unite'

    blast_retrieval_n = 50
    blast_top_n = 5

    blast_max_evalue = 1e-10
    blast_min_pident = 99.0
    blast_min_qcovus = 80.0
    blast_min_qiime_confidence = 0.7
}

process {
    withLabel: blast_taxonomy {
        cpus = 8
        memory = '32 GB'
    }

    withLabel: qiime_taxonomy_import {
        cpus = 2
        memory = '8 GB'
    }
}
